#calendar-container
		{
            padding: 10px;
            width: 1340px;
            height: 830px;
            text-align: center;
            margin: auto; 
            border: 1px solid #eee;
            border-radius: 10px;
            font-size: 16px;
            font-family: "Arial";
            background-color: #ffffff;
            background-repeat: no-repeat;
            background-image: url("image/background.png");

            
        }

#calendar-container>div
		{
            padding: 0;
            margin-bottom: 10px;
        }

#calendar-month-year
		{
            margin:10px;
            opacity: 1;

        }

#calendar-header
		{
            background-color: #f95050;
            color: #ffffff;
            width: 1140px;
            height: 80px;
            text-align: center;
            font-size: 50pt;
            font-family: Arial;
            padding-top: 60px;
            padding-bottom: 60px;
            border-radius: 10px;
            box-shadow: black 20px ;
            margin: 0 auto;
            opacity: 1;
        } 

#calendar-dates table tr td
		{
            padding: 5px;
            border: solid 1px #d3d3d3;
            color: blue;
        }

.today
	 	{
        background-image: url("image/today.png");
        background-repeat: no-repeat;
        background-color: #a8b486;


        }

#Next 
		{
    width:0px;
    height:0px;
    border-bottom:50px solid transparent;
    border-top:50px solid transparent;
    border-left:50px solid #ffffff;
    background-color: #f95050;
    float: right;

}

#Previous 
		{
    width:0px;
    height:0px;
    border-bottom:50px solid transparent;
    border-top:50px solid transparent;
    border-right:50px solid #ffffff;
    background-color: #f95050;
    float: left;
}

#calendar-dates table tr td.weekday 
		{
            background-color: pink;
            color: red;
        }
#calendar-dates table tr td.no-border 
		{
            border: none;
        }
#calendar-dates table
{
    width: 1140px;
    height: 600px;
    padding: 10px;
}
#calendar-dates table tr td
{
    border-radius: 10px;
    font-size: 20pt;
    color: black;
}
/*ô ngày*/
#calendar-dates table tr
{
    margin-top: 10px;
}
/*dong ngày*/
#body
{
    background-color: #dcdcdc;
}
.weekday
{
    height: 35px;
}
#calendar-dates{
    position: relative;
    background: #ffffff;
    display: inline-block;
    padding: 15px;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
}

/* Style để tạo hình tam giác */
#calendar-dates:after{
    position: absolute;
    display: block;
    content: '';
    bottom: 100%; /* Thay đổi từ top: 50% */
    /* Thay đổi hướng ngược lại với hướng định làm. Ví dụ ở đây mình sẽ quay trái thì mình để giá trị dưới là right (bên phải) */
    right: 50%; /* Thay đổi từ righ:100% */
    margin-right: -11px; /* Thay đổi từ margin-left */
    width: 0;
    height: 0;
    /* Quay lên trên, xuống dưới thì chỉnh ngược lại với hướng cần xoay */
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    border-top: 30px solid transparent;
    border-bottom: 30px solid #ffffff;
}